{% extends "base.html" %}

{% block content %}

    <div class="enterence">
        <h1>Welcome to my Contacts!</h1>
    </div>
    <div class="content_contact">
        <section>
            <h2>Get in Touch</h2>
            <p>If you have any questions or would like to get in touch, please use the following contact details:</p>
        </section>
        <section>
            <h2>Email</h2>
            <p>You can email me</p>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputPassword1"> Your nickname</label>
                    <input type="nickname" class="form-control" id="exampleInputPassword1" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">News</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
        <section>
            <h2>Follow Me</h2>
            <p>Feel free to follow me on my social media profiles:</p>
            <ul>
                <li><a href="https://github.com/yourusername" target="_blank">GitHub</a></li>
                <li><a href="https://www.instagram.com/yourusername" target="_blank">Instagram</a></li>
            </ul>
        </section>
    </div>

{% endblock %}
